@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.section-wrapper {
  height: 100%;
  counter-reset: section-count;
}

.section {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.light-section {
  background-color: #fff;
  color: #202125;
}

.dark-section {
  background-color: #202125;
  color: red;
}

.color-section {
  background-color: #d5f8ef;
  color: #14b789;
}

.section-heading {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  max-width: 380px;
}

.section-image {
  width: 40vmin;
  min-width: 15rem;
  max-width: 40vh;
}

.section-image img {
  max-width: 100%;
}

.section-btn {
  min-width: 16rem;
  padding: 1.2em 1.6em;
  letter-spacing: 0.26em;
  font-weight: 700;
  font-size: 0.75rem;
  border: 1px solid #202125;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
}

.light-section .section-btn {
  color: #202125;
  border-color: #202125;
}

.dark-section .section-btn {
  color: #ff0000;
  border-color: #ff0000;
}

.color-section .section-btn {
  border-color: #14b789;
  color: #14b789;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  position: relative;
}

.container:before {
  position: absolute;
  left: 20px;
  top: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;

  counter-increment: section-count;
  content: "" counter(section-count) "";
}

.light-section .container:before {
  background-color: #202125;
  color: #fff;
}

.dark-section .container:before {
  background-color: #ff0000;
  color: #202125;
}

.color-section .container:before {
  background-color: #14b789;
  color: #d5f8ef;
}
